<form>
    <label for="name">Dog's Name</label>
    <input name="name" type="text" />
    <label for="profile-picture">Picture of Your Dog</label>
    <input name="profile-picture" type="text" />
    <label for="bio">Biography of Your Dog</label>
    <input name="bio" type="text" />
    <input type="submit" />
</form>

<script src="/scripts/add-dog.js"></script>